Thumbs.db
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*.h~
*.h#
*.h.gch
*.c~
*.c#
*.cc~
*.cc#
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.o
*.exe
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
nbproject*/